.container {
    padding-top: 70px; /* Space for navbar */
    padding-bottom: 70px; /* Space at the bottom */
}

/* Style for the form inputs, buttons, and labels */
.form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #0056b3;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
}

.btn-primary:hover {
    background-color: #00408b;
}