{% extends "base.html" %}
{% load form_tags %}
{% block title %}Add event{% endblock %}
{% block content %}
<h3 align="center">Add Event</h3>
<form method="POST" class="container">
    {% csrf_token %}
    <div class="mb-3">
        <label for="{{ form.name.id_for_label }}">Name of this event</label>
        {{ form.name|add_class:"form-control" }}
    </div>
    <div class="mb-3">
        <label for="{{ form.description.id_for_label }}">Description</label>
        {{ form.description|add_class:"form-control" }}
    </div>
    <div class="mb-3">
        <label for="{{ form.location.id_for_label }}">Location</label>
        {{ form.location|add_class:"form-control" }}
    </div>
    <div class="mb-3">
        <label for="{{ form.edatetime.id_for_label }}">Date and Time</label>
        {{ form.edatetime|add_class:"form-control" }}
    </div>
    <div class="mb-3">
        <label for="{{ form.available.id_for_label }}">Number of Tickets</label>
        {{ form.available|add_class:"form-control" }}
    </div>
    <div class="mb-3">
        <label for="{{ form.price.id_for_label }}">Price</label>
        {{ form.price|add_class:"form-control" }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}