body, html {
    margin: 0;
    padding: 0;
}

.navbar {
  position: fixed; /* Or `sticky` if you want it to move with a scroll */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030; /* Higher than other elements to keep it on top */
}
.navbar-brand{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-style:italic;
}

.nav-link{
    font-weight: bold;
}
.nav-linkt {
    color: rgb(144, 49, 34);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: flex;
}
.nav-linkt:hover{
    color:rgb(200, 67, 53);

}
.nav-link:hover{
    color:rgb(232, 232, 248);

}

.container {
    padding-top: 70px; /* add padding to account for the height of the navbar */
}

.btn.btn-outline-success{
    background-color: rgb(36, 190, 36);
    color: whitesmoke;
}

.btn.btn-outline-success:hover{
    background-color: rgb(67, 120, 67);


}

.btn.btn-outline-primary.ms-2{
    background-color:rgb(29, 149, 235);
    color: whitesmoke;



}
.btn.btn-outline-primary.ms-2:hover{
    background-color:rgb(53, 53, 128);

}
